.loginStyle {
  position: absolute;
  top: 20%;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.244);
}

.loginStyle.show {
  transition: all 11s ease-in-out;
}

.loginStyle h1 {
  font-family: system-ui, sans-serif;
}
.css-1o7y2jg-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root {
  border-radius: 10px;
}

.innerField {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.innerField .childInnerField {
  margin: 1rem;
}

.btnStyle {
  margin-top: 1rem;
  padding-left: 11.5rem;
}
